body, div, header, nav, ul, li, article, h1, h2, aside, a, footer, section {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Tahoma;
  font-size: 20px;
  color: grey;
  background: -moz-linear-gradient(top, #808080 0, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #808080 0, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #808080 0, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #808080 0, #ffffff 100%);
  /* IE10+ */ }
  body #wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: double; }
    body #wrapper > header {
      padding: 10px 20px;
      border: double; }
    body #wrapper header {
      width: 100%;
      text-align: center;
      background-color: white;
      margin-bottom: 20px; }
      body #wrapper header nav {
        list-style-type: none;
        margin-top: 30px;
        margin-bottom: 20px; }
        body #wrapper header nav li {
          display: inline-block;
          margin-left: 60px; }
          body #wrapper header nav li:first-child {
            margin-left: 0; }
          body #wrapper header nav li a {
            font-size: 16px;
            padding: 10px 20px;
            color: grey;
            text-decoration: none;
            border: double; }
            body #wrapper header nav li a:hover {
              background: -moz-linear-gradient(top, #808080 0, #ffffff 100%);
              /* FF3.6+ */
              background: -webkit-linear-gradient(top, #808080 0, #ffffff 100%);
              /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, #808080 0, #ffffff 100%);
              /* Opera 11.10+ */
              background: -ms-linear-gradient(top, #808080 0, #ffffff 100%);
              /* IE10+ */
              color: white; }
    body #wrapper section {
      width: 100%;
      padding: 20px;
      background-color: white;
      border: double;
      margin-bottom: 20px; }
      body #wrapper section header h1 {
        font-size: 20px;
        font-weight: normal;
        text-decoration: underline; }
      body #wrapper section article {
        border: 1px solid gray;
        padding: 20px;
        margin-bottom: 10px; }
        body #wrapper section article:last-of-type {
          margin-bottom: 0; }
        body #wrapper section article h2 {
          font-size: 16px;
          font-weight: normal; }
        body #wrapper section article div.innerContainer {
          display: table;
          width: 100%;
          table-layout: fixed; }
          body #wrapper section article div.innerContainer div {
            height: 150px;
            display: table-cell;
            text-align: center;
            border-radius: 20px; }
      body #wrapper section.linear article:nth-of-type(1) div.innerContainer div.purple {
        background: -moz-linear-gradient(top, #300030 0, #FFF0FF 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(top, #300030 0, #FFF0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #300030 0, #FFF0FF 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #300030 0, #FFF0FF 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(1) div.innerContainer div.blue {
        background: -moz-linear-gradient(top, #0000AF 0, #F0F0FF 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(top, #0000AF 0, #F0F0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #0000AF 0, #F0F0FF 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #0000AF 0, #F0F0FF 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(1) div.innerContainer div.green {
        background: -moz-linear-gradient(top, #003000 0, #F0FFF0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(top, #003000 0, #F0FFF0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #003000 0, #F0FFF0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #003000 0, #F0FFF0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(1) div.innerContainer div.yellow {
        background: -moz-linear-gradient(top, #F5F500 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(top, #F5F500 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #F5F500 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #F5F500 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(1) div.innerContainer div.orange {
        background: -moz-linear-gradient(top, #EB9100 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(top, #EB9100 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #EB9100 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #EB9100 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(1) div.innerContainer div.red {
        background: -moz-linear-gradient(top, #CD0000 0, #FFE6E6 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(top, #CD0000 0, #FFE6E6 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #CD0000 0, #FFE6E6 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #CD0000 0, #FFE6E6 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(2) div.innerContainer div.purple {
        background: -moz-linear-gradient(left, #300030 0, #FFF0FF 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(left, #300030 0, #FFF0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #300030 0, #FFF0FF 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #300030 0, #FFF0FF 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(2) div.innerContainer div.blue {
        background: -moz-linear-gradient(left, #0000AF 0, #F0F0FF 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(left, #0000AF 0, #F0F0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #0000AF 0, #F0F0FF 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #0000AF 0, #F0F0FF 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(2) div.innerContainer div.green {
        background: -moz-linear-gradient(left, #003000 0, #F0FFF0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(left, #003000 0, #F0FFF0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #003000 0, #F0FFF0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #003000 0, #F0FFF0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(2) div.innerContainer div.yellow {
        background: -moz-linear-gradient(left, #F5F500 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(left, #F5F500 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #F5F500 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #F5F500 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(2) div.innerContainer div.orange {
        background: -moz-linear-gradient(left, #EB9100 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(left, #EB9100 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #EB9100 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #EB9100 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(2) div.innerContainer div.red {
        background: -moz-linear-gradient(left, #CD0000 0, #FFE6E6 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(left, #CD0000 0, #FFE6E6 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #CD0000 0, #FFE6E6 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #CD0000 0, #FFE6E6 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(3) div.innerContainer div.purple {
        background: -moz-linear-gradient(-45deg, #300030 0, #FFF0FF 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(-45deg, #300030 0, #FFF0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #300030 0, #FFF0FF 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #300030 0, #FFF0FF 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(3) div.innerContainer div.blue {
        background: -moz-linear-gradient(-45deg, #0000AF 0, #F0F0FF 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(-45deg, #0000AF 0, #F0F0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #0000AF 0, #F0F0FF 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #0000AF 0, #F0F0FF 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(3) div.innerContainer div.green {
        background: -moz-linear-gradient(-45deg, #003000 0, #F0FFF0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(-45deg, #003000 0, #F0FFF0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #003000 0, #F0FFF0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #003000 0, #F0FFF0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(3) div.innerContainer div.yellow {
        background: -moz-linear-gradient(-45deg, #F5F500 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(-45deg, #F5F500 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #F5F500 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #F5F500 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(3) div.innerContainer div.orange {
        background: -moz-linear-gradient(-45deg, #EB9100 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(-45deg, #EB9100 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #EB9100 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #EB9100 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.linear article:nth-of-type(3) div.innerContainer div.red {
        background: -moz-linear-gradient(-45deg, #CD0000 0, #FFE6E6 100%);
        /* FF3.6+ */
        background: -webkit-linear-gradient(-45deg, #CD0000 0, #FFE6E6 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #CD0000 0, #FFE6E6 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #CD0000 0, #FFE6E6 100%);
        /* IE10+ */ }
      body #wrapper section.radial article:nth-of-type(1) div.innerContainer div.purple {
        background: -moz-radial-gradient(center, ellipse cover, #300030 0, #FFF0FF 100%);
        /* FF3.6+ */
        background: -webkit-radial-gradient(center, ellipse cover, #300030 0, #FFF0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #300030 0, #FFF0FF 100%);
        /* Opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, #300030 0, #FFF0FF 100%);
        /* IE10+ */ }
      body #wrapper section.radial article:nth-of-type(1) div.innerContainer div.blue {
        background: -moz-radial-gradient(center, ellipse cover, #0000AF 0, #F0F0FF 100%);
        /* FF3.6+ */
        background: -webkit-radial-gradient(center, ellipse cover, #0000AF 0, #F0F0FF 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #0000AF 0, #F0F0FF 100%);
        /* Opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, #0000AF 0, #F0F0FF 100%);
        /* IE10+ */ }
      body #wrapper section.radial article:nth-of-type(1) div.innerContainer div.green {
        background: -moz-radial-gradient(center, ellipse cover, #003000 0, #F0FFF0 100%);
        /* FF3.6+ */
        background: -webkit-radial-gradient(center, ellipse cover, #003000 0, #F0FFF0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #003000 0, #F0FFF0 100%);
        /* Opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, #003000 0, #F0FFF0 100%);
        /* IE10+ */ }
      body #wrapper section.radial article:nth-of-type(1) div.innerContainer div.yellow {
        background: -moz-radial-gradient(center, ellipse cover, #F5F500 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-radial-gradient(center, ellipse cover, #F5F500 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #F5F500 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, #F5F500 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.radial article:nth-of-type(1) div.innerContainer div.orange {
        background: -moz-radial-gradient(center, ellipse cover, #EB9100 0, #ffffe0 100%);
        /* FF3.6+ */
        background: -webkit-radial-gradient(center, ellipse cover, #EB9100 0, #ffffe0 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #EB9100 0, #ffffe0 100%);
        /* Opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, #EB9100 0, #ffffe0 100%);
        /* IE10+ */ }
      body #wrapper section.radial article:nth-of-type(1) div.innerContainer div.red {
        background: -moz-radial-gradient(center, ellipse cover, #CD0000 0, #FFE6E6 100%);
        /* FF3.6+ */
        background: -webkit-radial-gradient(center, ellipse cover, #CD0000 0, #FFE6E6 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #CD0000 0, #FFE6E6 100%);
        /* Opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, #CD0000 0, #FFE6E6 100%);
        /* IE10+ */ }
    body #wrapper footer {
      background-color: white;
      width: 100%;
      height: 100%;
      text-align: center;
      border: double; }
      body #wrapper footer h3 {
        font-size: 20px;
        font-weight: normal;
        text-decoration: underline; }
      body #wrapper footer ul {
        width: 100%;
        padding-bottom: 20px; }
        body #wrapper footer ul li {
          list-style-type: none; }
          body #wrapper footer ul li a {
            font-size: 16px;
            padding: 10px 20px;
            color: grey;
            text-decoration: none; }

/*# sourceMappingURL=styles.css.map */