<div class="box">
    <h1>Edit ad</h1>
    <div>
        <form>
            <div><strong class="ad-info-define">Title: </strong><input type="text" class="ad-info-edit" value="{{ad.title}}" ng-model="ad.title"/></div>
            <div><strong class="ad-info-define">Text: </strong><textarea class="ad-info-edit" ng-model="ad.text">{{ad.text}}</textarea></div>
            <div>
                <strong class="ad-info-define"><label for="newImage">Image: </label></strong>
                <div class="ad-info-edit">
                    <input type="file" id="newImage" onchange="angular.element(this).scope().fileSelected(this)" />
                </div>
                <div ng-if='ad.imageDataUrl'>
                    <strong class="ad-info-define">Old image: </strong>
                    <img class="ad-image" ng-src="{{ad.imageDataUrl}}" /><br/>
                </div>
            </div>
            <br />
            <div><strong class="ad-info-define">Username: </strong><input type="text" class="ad-info-edit" value="{{ad.ownerUsername}}" ng-model="ad.ownerUsername"/></div>
            <div>
                <div>
                    <strong class="ad-info-define">Category: </strong>
                    <select  class="ad-info-edit" ng-model="ad.categoryId">
                        <option value="" style="display: none"></option>
                        <option ng-repeat="cat in categories" value="{{cat.id}}" ng-if="ad.categoryName == cat.name" selected="selected">{{cat.name}}</option>
                        <option ng-repeat="cat in categories" value="{{cat.id}}" ng-if="ad.categoryName != cat.name" >{{cat.name}}</option>
                    </select>
                </div>
                <div >
                    <strong class="ad-info-define">Town: </strong>
                    <select class="ad-info-edit" ng-model="ad.townId">
                        <option value="{{ad.categoryName}}"></option>
                        <option ng-repeat="town in towns" value="{{town.id}}" ng-if="ad.townName == town.name" selected="selected">{{town.name}}</option>
                        <option ng-repeat="town in towns" value="{{town.id}}" ng-if="ad.townName != town.name" >{{town.name}}</option>
                    </select>
                </div>
            </div>
            <div><strong class="ad-info-define">Date: </strong><input type="date" class="ad-info-edit" value="{{ad.date}}" ng-model="ad.date"/></div>

            <a class="button" ng-click="editAd(ad)">Edit</a>
            <a class="button" ng-click="cancel()">Cancel</a>

        </form>
    </div>
</div>