body {
    font-family: Tahoma;
    text-align: center;
}

    body table, th, tr, td {
        border: solid;
        border-width: 1px;
    }

        body table td, th {
            height: 100px;
            width: 100px;
        }
    
        body table input {
            width: 95px;
            height: 95px;
            font-size: 50px;
        }

        table thead tr th input {
            width: 410px;
            height: 95px;
            text-align: right;
            font-size: 50px;
        }
