@model IEnumerable<Bookmarks.Web.ViewModels.BookmarkViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookmarks</h1>
</div>

<div class="row">
    @Html.DisplayFor(x => x)
</div>