<!-- Navigation box for anonymous site visitors -->
<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <!--<li><a href="#/login">Login</a></li>-->
        <!--<li><a href="#/register">Register</a></li>-->
    </ul>
</div>

<!-- Login / register box for anonymous site visitors -->
<div class="box" ng-if="authService.isAnonymous()">
    <p>To publish a new ad, please login.</p>
    <a href="#/login" class="button">Login</a>
    <a href="#/register" class="button">Register</a>
</div>

<!-- Navigation box for logged in normal users (not admins) -->
<div ng-if="authService.isNormalUser()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/ads">My Ads</a></li>
        <li><a href="#/user/ads/publish">Publish New Ad</a></li>
        <li><a href="#/user/profile/edit">Edit Profile</a></li>
        <li><a ng-click="logout()">Logout</a></li>
    </ul>
</div>

<!--<div ng-if="location.path() == '#/user/ads'" class="box">-->
<div ng-if="authService.isNormalUser()" class="box">
    <h2>Ads</h2>
    <ul class="sidebar-menu">
        <li><a href="#/user/ads" ng-click="statusClicked(null)">All</a></li>
        <li><a href="#/user/ads/published" ng-click="statusClicked('Published')"
               ng-class="{'selected' : clickedStatusString == 'Published'}"
                >Published</a></li>
        <li><a href="#/user/ads/waiting" ng-click="statusClicked('WaitingApproval')"
               ng-class="{'selected' : clickedStatusString == 'WaitingApproval'}">Waiting Approval</a></li>
        <li><a href="#/user/ads/inactive" ng-click="statusClicked('Inactive')"
               ng-class="{'selected' : clickedStatusString == 'Inactive'}">Inactive</a></li>
        <li><a href="#/user/ads/rejected" ng-click="statusClicked('Rejected')"
               ng-class="{'selected' : clickedStatusString == 'Rejected'}">Rejected</a></li>
    </ul>
</div>

<!-- Navigation box for logged in admins -->
<div ng-if="authService.isAdmin()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Ads</a></li>
        <li><a href="#/admin/users">Users</a></li>
        <li><a href="#/admin/categories">Categories</a></li>
        <li><a href="#/admin/towns">Towns</a></li>
    </ul>
</div>

<div ng-if="authService.isAdmin()" class="box">
    <h2>Ads</h2>
    <ul class="sidebar-menu">
        <li><a href="#/admin/ads" class="special">All</a></li>
        <li><a href="#/admin/ads/published">Published</a></li>
        <li><a href="#/admin/ads/waiting">Waiting Approval</a></li>
        <li><a href="#/admin/ads/inactive">Inactive</a></li>
        <li><a href="#/admin/ads/rejected">Rejected</a></li>
    </ul>
</div>





