<header>
    <img class="img-header" src="imgs/trash.png" width="50px"/>
    <h1 class="site-header">Products</h1>
    <nav id="menu">
        <ul>
            <li class="nav-button"><a href="#/">Home</a></li>
            <li class="nav-button"><a href="#/products">Products</a></li>
            <li class="nav-button"><a href="#/addProduct">Add Product</a></li>
            <li class="nav-button" id="logout"><a href="#/login">Logout</a></li>
        </ul>
    </nav>
</header>
<div id="main">
    <section>
        <div class="edit-product-form">
            <header class="main-header">Edit product</header>
            <div class="data">
                <label for="name">Name:</label>
                <input type="text" id="name" value="{{name}}" placeholder="Name..."/>
                <label for="category">Category:</label>
                <input type="text" id="category" value="{{category}}" placeholder="Category..."/>
                <label for="price">Price:</label>
                <input type="text" id="price" value="{{price}}" placeholder="0.00"/>
            </div>
            <div class="panel" data-id="{{objectId}}" >
                <button id="edit-product-button" class="button">Edit</button>
                <a href="#">
                    <button class="button">Cancel</button>
                </a>
            </div>
        </div>
    </section>
</div>