<header>
    <img class="img-header" src="imgs/trash.png" width="50px"/>
    <h1 class="site-header">Products</h1>
    <nav id="menu">
        <ul>
            <li class="nav-button"><a href="#/homeUser">Home</a></li>
            <li class="nav-button"><a href="#/products">Products</a></li>
            <li class="nav-button"><a href="#/addProduct">Add Product</a></li>
            <li class="nav-button" id="logout"><a href="#/login">Logout</a></li>
        </ul>
    </nav>
</header>
<div id="main">
    <section>
        <div class="welcome-message">
            <header class="main-header">Welcome, {{username}}!</header>
        </div>
    </section>
    <br />
</div>