<header>
    <img class="img-header" src="imgs/trash.png" width="50px"/>
    <h1 class="site-header">Products</h1>
    <nav id="menu">
        <ul>
            <li class="nav-button"><a href="#/">Home</a></li>
            <li class="nav-button"><a href="#/login">Login</a></li>
            <li class="nav-button"><a href="#/register">Register</a></li>
        </ul>
    </nav>
</header>
<div id="main">
    <section>
        <div class="login-form">
            <header class="main-header">Login</header>
            <div class="data">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Username..."/>
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Password..."/>
            </div>
            <div class="panel">
                <button id="login-button" class="button">Login</button>
                <span>or</span>
                <a href="#/register">Register</a>
            </div>
        </div>
    </section>
    <br />
</div>