<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize" ng-change="reloadAds()"
            max-size="12" boundary-links="true">
</pagination>

<!--if the user is normal-->
<ul class="ads" ng-if="!authService.isAdmin()">
    <li ng-repeat="ad in ads.ads" class="box">
        <h1>{{ad.title}}</h1>
        <div class="ad-image-box">
            <div><strong class="ad-info-define">Date:</strong> <span class="ad-date">{{ad.date | date: 'dd-MM-yyyy'}}</span></div>
            <div ng-if='ad.imageDataUrl'>
                <strong class="ad-info-define">Image:</strong>
                <img class="ad-image" ng-src="{{ad.imageDataUrl}}"/>
            </div>
        </div>
        <div class="ad-info-box">
            <div><strong class="ad-info-define">Text:</strong> <span class="ad-info">{{ad.text}}</span></div>
            <div><strong class="ad-info-define">Name:</strong> <span class="ad-info">{{ad.ownerName}}</span></div>
            <div><strong class="ad-info-define">Email:</strong> <span class="ad-info">{{ad.ownerEmail}}</span></div>
            <div><strong class="ad-info-define">Phone:</strong> <span class="ad-info">{{ad.ownerPhone}}</span></div>
        </div>
    </li>
</ul>

<div ng-if="ads.ads.length==0 && !authService.isAdmin()" class="box no-data">
    No ads found.
</div>

<!--if the user is admin-->
<ul class="ads" ng-if="authService.isAdmin()">
    <li ng-repeat="ad in adminAds.ads" class="box">
        <h1>{{ad.title}}</h1>
        <div class="ad-admin-entire">
            <div class="ad-image-box">
                <div><strong class="ad-info-define">Date:</strong> <span class="ad-date">{{ad.date | date: 'dd-MM-yyyy'}}</span></div>
                <div ng-if='ad.imageDataUrl'>
                    <strong class="ad-info-define">Image:</strong>
                    <img class="ad-image" ng-src="{{ad.imageDataUrl}}"/>
                </div>
                <div><strong class="ad-info-define">Status:</strong> <span class="ad-info">{{ad.status}}</span></div>
            </div>
            <div class="ad-info-box">
                <div><strong class="ad-info-define">Text:</strong> <span class="ad-info">{{ad.text}}</span></div>
                <div><strong class="ad-info-define">Username:</strong> <span class="ad-info">{{ad.ownerUsername}}</span></div>
                <div><strong class="ad-info-define">Name:</strong> <span class="ad-info">{{ad.ownerName}}</span></div>
                <div><strong class="ad-info-define">Email:</strong> <span class="ad-info">{{ad.ownerEmail}}</span></div>
                <div><strong class="ad-info-define">Phone:</strong> <span class="ad-info">{{ad.ownerPhone}}</span></div>
                <div><strong class="ad-info-define">Category:</strong> <span class="ad-info">{{ad.categoryName}}</span></div>
                <div><strong class="ad-info-define">Town:</strong> <span class="ad-info">{{ad.townName}}</span></div>
            </div>
        </div>
        <div class="ad-admin-edit">
            <a class="button" ng-click="approveAd(ad.id)">Approve</a>
            <a class="button" ng-click="rejectAd(ad.id)">Reject</a>
            <a href="#/admin/ads/edit/{{ad.id}}" class="button">Edit</a>
            <a href="#/admin/ads/delete/{{ad.id}}" class="button">Delete</a>
        </div>

    </li>
</ul>

<div ng-if="ads.ads.length==0 && authService.isAdmin()" class="box no-data">
    No ads found.
</div>
