<div class="box">
    <div class="ad-info-box">
        <h1>Login</h1>
        <div><strong class="ad-info-define"><label for="username">Username: </label></strong><input type="text" class="ad-info-edit" id="username" ng-model="userData.username" required /></div>
        <div><strong class="ad-info-define"><label for="password">Password: </label></strong><input type="password" class="ad-info-edit" id="password" ng-model="userData.password" required /></div>

        <a ng-click="login(userData)" class="button">Login</a>
        <a href="#/register" class="link">Register</a>
    </div>
</div>

