<div class="box">
    <div class="ad-info-box">
        <h1>Register</h1>
        <div><strong class="ad-info-define"><label for="username">Username: </label></strong><input type="text" class="ad-info-edit" id="username" ng-model="userData.username" required /></div>
        <div><strong class="ad-info-define"><label for="password">Password: </label></strong><input type="password" class="ad-info-edit" id="password" ng-model="userData.password" required /></div>
        <div><strong class="ad-info-define"><label for="confirmPassword">Confirm Pass: </label></strong><input type="password" class="ad-info-edit" id="confirmPassword" ng-model="userData.confirmPassword" required /></div>
        <div><strong class="ad-info-define"><label for="name">Name: </label></strong><input type="text" class="ad-info-edit" id="name" ng-model="userData.name" required /></div>
        <div><strong class="ad-info-define"><label for="email">Email: </label></strong><input type="text" class="ad-info-edit" id="email" ng-model="userData.email" required /></div>
        <div><strong class="ad-info-define"><label for="phone">Phone: </label></strong><input type="text" class="ad-info-edit" id="phone" ng-model="userData.phone" required /></div>

        <div><strong class="ad-info-define"><label for="town">Town: </label></strong>
            <select class="ad-info-edit" id="town" ng-model="userData.townId">
                <option value="null">(None)</option>
                <option ng-repeat="town in towns"
                        value="{{town.id}}">{{town.name}}</option>
            </select>
        </div>

        <a ng-click="register(userData)" class="button">Register</a>
        <a href="#/login" class="link">Login</a>
    </div>
</div>
