<div class="box">
    <h1>Edit profile</h1>
    <div>
        <form>
            <div><strong class="ad-info-define">Name: </strong><input type="text" class="ad-info-edit" value="{{userData.name}}" ng-model="userData.name"/></div>
            <div><strong class="ad-info-define">Email: </strong><textarea class="ad-info-edit" ng-model="userData.email">{{userData.email}}</textarea></div>
            <div><strong class="ad-info-define">Phone: </strong><textarea class="ad-info-edit" ng-model="userData.phoneNumber">{{userData.phoneNumber}}</textarea></div>
            <div>
                <div >
                    <strong class="ad-info-define">Town: </strong>
                    <select class="ad-info-edit" ng-model="userData.townId">
                        <option value="" style="display: none"></option>
                        <option ng-repeat="town in towns" value="{{town.id}}" ng-if="userData.townName == town.name" selected="selected">{{town.name}}</option>
                        <option ng-repeat="town in towns" value="{{town.id}}" ng-if="userData.townName != town.name" >{{town.name}}</option>
                    </select>
                </div>
            </div>


            <a class="button" ng-click="editProfile(userData)">Edit</a>
            <a class="button" ng-click="cancel()">Cancel</a>

        </form>
    </div>
</div>