body, section, div, img {
    padding:0;
    margin:0;
    box-sizing: content-box;
}

section{
    border: 5px outset #1DB2FA;
    display:inline-block;
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 80px;
}

#container{
    width:400px;
    height:300px;
    overflow:hidden;
    Position:absolute;
}

section div{
    display: inline-block;
    position: absolute;
    z-index: 1;
}

div:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 300px;
    z-index: 10;
    background-repeat: no-repeat;
}

#btnPrev {
    background-image: url("images/btnPrev.png");
    left: -50px;
}

#btnNext {
    background-image: url("images/btnNext.png");
    left: 346px;
}