@model Bookmarks.Web.ViewModels.BookmarkViewModel

<div class="col-md-4">
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <p>@Html.ActionLink("Details", "Details", "Bookmarks", new { id = Model.Id }, new { @class = "btn btn-default" })</p>
</div>